/*
  不能这么写，需要把前缀的方法定义成公用方法
*/
// .s-image {
//   .image {

//   }
// }
@use "@/assets/styles/_config.scss" as *;
@use "@/assets/styles/_mixins.scss" as *;

@include b("text") {
	.text {
		width: 100%;
		display: block;
		padding: 0;
		&.no-value {
			height: 300px;
			background-color: rgba($color: #000000, $alpha: 0.05);
		}
	}
	&.in-canvas {
		&.platform-user {
			position: absolute;
			left: 0;
			top: 0;
		}
		.text {
			@include res(width, 200, 200);
			@include res(height, 50, 50);
			&.no-value {
				@include res(height, 50, 50);
			}
		}
	}
}
