/*
  不能这么写，需要把前缀的方法定义成公用方法
*/
// .s-image {
//   .image {

//   }
// }
@use "@/assets/styles/_config.scss" as *;
@use "@/assets/styles/_mixins.scss" as *;

@include b("image") {
	.image {
		width: 100%;
		display: block;
		object-fit: cover;
		margin: 0 auto;
		// 这时候的高度 可以使用响应式
		@include res(height, 295, 295);
	}
	.no-image {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		@include res(height, 295, 295);
	}
	&.in-canvas {
		&.platform-user {
			position: absolute;
			left: 0;
			top: 0;
		}
		.image {
			@include res(width, 100, 100);
			@include res(height, 100, 100);
		}
		.no-image {
			@include res(width, 100, 100);
			@include res(height, 100, 100);
		}
		:deep(.s-empty .image) {
			@include res(width, 40, 60);
		}
		:deep(.s-empty .description) {
			@include res(font-size, 12, 12);
			@include res(margin-top, 12, 12);
		}
	}
}
